[submodule "resources/libs/stb"]
	path = resources/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "resources/libs/nlohmann"]
	path = resources/libs/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "resources/libs/minimp3"]
	path = resources/libs/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "resources/libs/portable-file-dialogs"]
	path = resources/libs/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "resources/libs/tinyxml2"]
	path = resources/libs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "resources/libs/box2d"]
	path = resources/libs/box2d
	url = https://github.com/erincatto/box2d.git
